name: CI Builds

on: [push]

jobs:
  run:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true  # Fetches all submodules
      - uses: actions/setup-java@v4
        with:
          distribution: 'graalvm' # See 'Supported distributions' for available options
          java-version: '24'
      - name: Maven build
        run: cd examples/maven-demo && ./mvnw --batch-mode --no-transfer-progress verify --file pom.xml
      - name: Spring Boot build
        run: cd examples/spring-boot-demo/implementation && ./mvnw --batch-mode --no-transfer-progress verify -Pjacoco --file pom.xml
      - name: AWS Lambda build
        run: cd examples/aws-lambda-hello-world && ./mvnw --batch-mode --no-transfer-progress package --file pom.xml
      - name: Azure Function build
        run: cd examples/azure-function-hello-world && ./mvnw --batch-mode --no-transfer-progress package --file pom.xml
      - name: Spring Boot Memory Leak build
        run: cd examples/spring-boot-memory-leak-demo && ./mvnw --batch-mode --no-transfer-progress package --file pom.xml
      - name: Spring Boot Performance Bottleneck build
        run: cd examples/spring-boot-performance-bottleneck-demo && ./mvnw --batch-mode --no-transfer-progress package --file pom.xml
      - name: Spring Boot JMeter build
        run: cd examples/spring-boot-jmeter-demo && ./mvnw --batch-mode --no-transfer-progress package --file pom.xml